In [1]:
# import Dependencies

import pandas as pd
import os
import csv

csvpath=os.path.join('Resources','budget_data.csv')
print(csvpath)

budget_data_df= pd.read_csv(csvpath, encoding="utf-8")
print(budget_data_df.head())

Resources\budget_data.csv
     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [2]:
Month_count=0
month_count=len(budget_data_df["Date"].unique()) 
print(month_count)

86

In [10]:
Total_PL=sum(budget_data_df["Profit/Losses"])
print(Total_PL)

22564198

In [21]:
df = pd.DataFrame(budget_data_df["Profit/Losses"])
df.diff()

    Profit/Losses
0             NaN
1      -1443517.0
2        631156.0
3      -1004755.0
4       1581126.0
..            ...
81     -1627245.0
82       616795.0
83       628522.0
84        90895.0
85      -224669.0

[86 rows x 1 columns]

In [22]:
Average_Change=df.diff(periods=-1).mean()
print(Average_Change)
Greatest_increase= df.diff(periods=-1).max()
print(Greatest_increase)
Greatest_decrease=df.diff(periods=-1).min()
print(Greatest_decrease)

Profit/Losses    8311.105882
dtype: float64
Profit/Losses    1825558.0
dtype: float64
Profit/Losses   -1862002.0
dtype: float64

In [35]:
print("----------------------------------------------------------")
print("Financial Analysis")
print("----------------------------------------------------------")
print("Total Months: " + str(month_count))
print("Total Profits: " + "$" + str(Total_PL))
print("Average Change: " + "$" + str(int(Average_Change)))
print("Greatest Increase in Profits: "  + " ($" + str(int(Greatest_increase))+")")
print("Greatest Decrease in Profits: "  + " ($" + str(int(Greatest_decrease))+")")
print("----------------------------------------------------------")

----------------------------------------------------------
Financial Analysis
----------------------------------------------------------
Total Months: 86
Total Profits: $22564198
Average Change: $8311
Greatest Increase in Profits:  ($1825558)
Greatest Decrease in Profits:  ($-1862002)
----------------------------------------------------------

In [37]:
with open('financial_analysis.txt', 'w') as text:
    text.write("----------------------------------------------------------\n")
    text.write("  Financial Analysis"+ "\n")
    text.write("----------------------------------------------------------\n\n")
    text.write("    Total Months: " + str(month_count) + "\n")
    text.write("    Total Profits: " + "$" + str(Total_PL) +"\n")
    text.write("    Average Change: " + '$' + str(int(Average_Change)) + "\n")
    text.write("    Greatest Increase in Profits: " +  " ($" + str(int(Greatest_increase))+")\n")
    text.write("    Greatest Decrease in Profits: " +  " ($" +  str(int(Greatest_decrease))+")\n")
    text.write("----------------------------------------------------------\n")